<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada Error 404</title>
    <link rel="icon" href="/static/images/LIA_Mini.png">

</head>
<style>
    body {
        background-color: #6c1d45;
        text-align: center;
        color: #fff;
    }
    a{
        color: #f0f0f0;
        text-decoration: underline;
        font-size: 20px;
    }
    h1{
        font-size: 60px;
    }
    img{
        width: 300px;
    }
    h2{
        font-size: 40px;
    }
</style>
<body>
    <h1>Página no encontrada</h1>
    <img src="../static/images/Logo_LIA.png" alt="">
    <h2>Lamentamos las molestias sorry :c
    </h2>
    <a href="/">Da clíck aquí para volver a la página principal</a>
</body>
</html> 